
<!DOCTYPE html>
<html  lang="en"
xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
   Internal Certification
  </title>
  <link rel="icon" type="image/png" href="/images/favicon.png" >
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link th:href="@{/js/plugins/nucleo/css/nucleo.css}" rel="stylesheet" />
  <link th:href="@{/js/plugins/@fortawesome/fontawesome-free/css/all.min.css}" rel="stylesheet" />
  <!-- CSS Files -->
  <link th:href="@{/css/argon-dashboard.css?v=1.1.2}" rel="stylesheet" />
</head>
<style>
body, html {
  height: 100%;
}
.bodyBg {
  /* The image used */
  background-image: url("/images/loginbg.jpg");

  /* Full height */
opacity:inherit;
  /* Center and scale the image nicely */
  background-origin:content-box;
  background-position: center;
  background-repeat:repeat;
  background-size: cover;
}
</style>

<body class="bodyBg">
  <div class="main-content">

    <!-- Page content -->
    <div class= "container-fluid ">
    <div class= "row">

      <div class="col ">
    <div class="container mt-7">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent text-center ">
              <div class="btn-wrapper text-center mt-2">
          
                <img alt="" src="/images/cstech.png" style="height: 100px; width:300px">
              </div><br>
                <h1 class="text" style="font-family: sans-serif;">Sorry, this page isn't available.</h1>
          <p>The link you followed may be broken,or the page may have been removed </p>
          </div>
         
          
         
          </div>
     
        </div>
      </div>
    </div>
    
  
    
     
    </div>
    </div>
    </div>
  </div>
</body>

</html>