


	



<!DOCTYPE html>
<html  lang="en"
xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/header :: commonheader">


</head>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"
	integrity="sha512-pdCVFUWsxl1A4g0uV6fyJ3nrnTGeWnZN2Tl/56j45UvZ1OMdm9CIbctuIHj+yBIRTUUyv6I9+OivXj4i0LPEYA=="
	crossorigin="anonymous"></script>

<style>

.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
top: 46%;
left:40%;
font-family: 'Pinyon Script', cursive;
 
}
.person{
display: flex;

}

</style>

<body >
<nav th:replace="common/header :: commonsidenav">...</nav>



  <div class="main-content">
    <!-- Navbar -->
 <div th:insert="common/header :: bodynav(~{ :: #breadcrumb})">
 
         <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#"><span id="breadcrumb" >
         </span></a>
  
</div>
    <div class="header bg-gradient-primary pb-6  ">
      
   
</div><div class="alert alert-danger mt-3" role="alert" th:if="${incorrect == 'exest'}"> Old Password is wrong</div>
					
              		<div class="alert alert-danger mt-3" role="alert" th:if="${Exests == 'exest'}"> please contact management </div>
						<div class="alert alert-danger mt-3" role="alert" th:if="${newNcon == 'error'}">new password and confirm password needs to be same </div>
						<div class="alert alert-danger mt-3" role="alert" th:if="${oldNnew == 'error'}">old and new password needs to be different </div>
						
						<div class="alert alert-success mt-3" role="alert" th:if="${success == 'correct'}"> Password updated Successfully</div>
  <div class="container mt-8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-7">
          <div class="card bg-secondary shadow border-0">
           
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <H1>Change Password</H1>
              </div>
              <form id="from" th:action="@{/changePassword}" method="post" th:object="${pass}">
                <div class="form-group mb-3">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open text-yellow"></i></span>
                    </div>
                    <input class="form-control" placeholder="old Password" type="password" name="oldPassWord" id="oldPassWord"required>
                     <span class="input-group-text">  <i class="far fa-eye" id="togglePassword"></i></span>
                  </div>
                </div>
                 <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open text-yellow"></i></span>
                    </div>
                    <input class="form-control" placeholder="New Password" type="password" name="newPassword" id="newPassword" required>
                            <span class="input-group-text">  <i class="far fa-eye" id="togglePassword1"></i></span>
                                  <div class="PassLength" id="PassLength" style="display: none;color:red">
Password must contain Minimum 6 and Maximum 16 characters
                  </div>
                  <div class="WrongPass" id="WrongPass" style="display: none;color:red">
Password should contain atleast one number and one special character
                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-lock-circle-open text-yellow"></i></span>
                    </div>
                    <input class="form-control" placeholder="Confirm Password" id="confirmPassword" name= "confirmPassword" type="password" required>
                               <span class="input-group-text">  <i class="far fa-eye" id="togglePassword2"></i></span>
                  </div>
                </div>
             
                <div class="text-center">
                  <button type="Submit" class="btn btn-primary my-4">Submit</button>
                </div>
              </form>
            </div>
          </div>
        
        </div>
      </div>
    </div>
	
	<script type="text/javascript">
	const togglePassword = document.querySelector('#togglePassword');
	const oldPassWord = document.querySelector('#oldPassWord');
	
	togglePassword.addEventListener('click', function (e) {
	    // toggle the type attribute
	    const type = oldPassWord.getAttribute('type') === 'password' ? 'text' : 'password';
	    oldPassWord.setAttribute('type', type);
	    // toggle the eye slash icon
	    this.classList.toggle('fa-eye-slash');
	});
	
	const togglePassword1 = document.querySelector('#togglePassword1');
	const newPassword = document.querySelector('#newPassword');
	
	togglePassword1.addEventListener('click', function (e) {
	    // toggle the type attribute
	    const type = newPassword.getAttribute('type') === 'password' ? 'text' : 'password';
	    newPassword.setAttribute('type', type);
	    // toggle the eye slash icon
	    this.classList.toggle('fa-eye-slash');
	});
	
	const togglePassword2 = document.querySelector('#togglePassword2');
	const confirmPassword = document.querySelector('#confirmPassword');
	
	togglePassword2.addEventListener('click', function (e) {
	    // toggle the type attribute
	    const type = confirmPassword.getAttribute('type') === 'password' ? 'text' : 'password';
	    confirmPassword.setAttribute('type', type);
	    // toggle the eye slash icon
	    this.classList.toggle('fa-eye-slash');
	});
	
	
	const pass =document.getElementById("newPassword");
	
	from.addEventListener('submit',(e)=>{
		  let meassage=[];
		
		  let pass1=passValidation();
		  let minlength=6;
		  let maxlength=16;
		  console.log("email==="+pass1);
		  if(pass.value.length< minlength || pass.value.length > maxlength){
			  meassage.push("enter valid email"); 
			  document.getElementById("PassLength").style.display='block'; 
			
		     console.log("password length")
		    }else{
		    	  document.getElementById("PassLength").style.display='none';                   				
		    }
		  
		  if(pass1==false){
			  meassage.push("alteast one upper case and one lowercase"); 
		  }else{  
			  document.getElementById("WrongPass").style.display='none'; 
		  }
		  
		   
		  if(meassage.length>0){
			  e.preventDefault();
		  }
		  
	         function passValidation(){
           	  var PassregularExpression  =/^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;
           	  
           	  if(pass.value.match(PassregularExpression)){
       			  return true;  
       		  }else{	
       			  document.getElementById("WrongPass").style.display='block'; 
       			  return false;
       		  }
           	  
             }
		  
	});
	
	
	
	
	
	</script>
   		
      
      

  <!--   Core   -->
<div th:replace="common/header :: commonscript">...</div>
</div>

</body>

</html>