


	



<!DOCTYPE html>
<html  lang="en"
xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="common/header :: commonheader">


</head>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"
	integrity="sha512-pdCVFUWsxl1A4g0uV6fyJ3nrnTGeWnZN2Tl/56j45UvZ1OMdm9CIbctuIHj+yBIRTUUyv6I9+OivXj4i0LPEYA=="
	crossorigin="anonymous"></script>
<script type="text/javascript">

window.onload=function(){
	document.getElementById("download").addEventListener("click",()=>{
		const certificate =this.document.getElementById("Certificate");
		console.log(window);
		var opt = {
  margin:       0.5,
  filename:     'Certificate.pdf',
  image:        { type: 'jpeg', quality: 0.98 },
  html2canvas:  { scale: 2 },
  jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
};
		
		html2pdf().set(opt).from(certificate).save();
		
	})
}

</script>

<style>

.container {
  position: relative;
  max-width: 800px; /* Maximum width */
  margin: 0 auto; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
top: 47%;
left:34%;
font-family: 'Pinyon Script', cursive;
 
}
.container .courseName{
  position: absolute; /* Position the background text */
top: 60%;
left:20%;

}
.person{
display: flex;

}
.downloadButton{
display: none;
}

</style>

<body >
<nav th:replace="common/header :: commonsidenav">...</nav>



  <div class="main-content">
    <!-- Navbar -->
 <div th:insert="common/header :: bodynav(~{ :: #breadcrumb})">
 
         <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="#"><span id="breadcrumb" ></span></a>
  
</div>
    <div class="header bg-gradient-primary pb-6  ">
      
   
</div>



	<div class="downloadButton">
		<button class="btn btn-danger right" id="download" >download</button>
	</div>
	

	<div class="container mt-5" id="Certificate">
  <img src="/images/Colourfull.jpg" alt="Notebook" style="width:100%;">
  <div class="content">
  <div class="col">
    <div class="person"><div ><h5  style="font-size: 40px; color: rgb(128, 255, 255);" th:text="${resultinfo.firstName}"></h5></div><div style="margin-left: 10px"><h5  style=" font-size: 40px; color: rgb(128, 255, 255);" 
     th:text="${resultinfo.lastName}"></h5></div> </div>
</div>
  
  </div>
  <div class="courseName">
   <div class="col">
  <h5 class ="h5 mb-o text-uppercase text-bold"> for completing the course <span th:text="${courseInfo.courseName}"></span>. </h5>
  </div>
  </div>
</div>
	
<div class="container mt-5">
<center>
<button class="btn btn-success" type="button" onclick="DownloadCertificate()">Download</button></center>
</div>	
<script type="text/javascript">
var submit=document.getElementById("download");

function DownloadCertificate(){
	submit.click();	
}

</script>
   		
      
      

  <!--   Core   -->
<div th:replace="common/header :: commonscript">...</div>
</div>

</body>

</html>